// GENERAL PROJECT STYLES

.section-title {
  font-family: $secondfont;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #001D26;
  font-size: 6rem;
  line-height: 115.4%;
  margin-bottom: 5.6rem;
}
