.contacts {
  &__inner {
    padding-top: 2rem;
  }
  &__map {
    height: 53.3rem;
    border-radius: 6rem;
    overflow: hidden;
  }
  &__list {
    padding: 5rem 0 9rem;
    font-family: $secondfont;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20rem;
  }
  &__suptitle {
    font-size: 1.8rem;
    letter-spacing: 0.005em;
    color: #929292;
    margin-bottom: 3rem;
  }
  &__title {
    font-size: 3.2rem;
    line-height: 105.9%;
    color: #000000;
    margin-bottom: 3.2rem;
  }
  &__link-map {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 1.48;
    letter-spacing: 0.005em;
    color: #E78512;
    &::after {
      content: '';
      display: inline-block;
      width: 1rem;
      height: 1rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/dist/link-map.svg);
      margin-left: 1rem;
    }
  }
  &__subtitle {
    font-size: 1.8rem;
    letter-spacing: 0.005em;
    color: #929292;
    margin-bottom: 6rem;
  }
  &__work-time {
    font-size: 2.7rem;
    line-height: 148.4%;
    color: #000000;
    span {
      font-size: 1.8rem;
      color: #6D6D6D;
    }
  }
  @media (max-width: 48em) {
    &__inner {
      padding-top: 1rem;
    }
    &__map {
      height: 32.1rem;
      border-radius: 3rem;
    }
    &__list {
      padding: 3rem 0;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 4rem;
    }
    &__suptitle {
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
    }
    &__title {
      font-size: 2.4rem;
      margin-bottom: 2rem;
    }
    &__link-map {
      font-size: 1.6rem;
    }
    &__subtitle {
      font-size: 1.4rem;
      margin-bottom: 3rem;
    }
    &__work-time {
      font-size: 2rem;
      span {
        font-size: 1.4rem;
      }
    }
  }
}