.footer {
  background-color: #E78512;
  color: #fff;
  padding: 6rem 0;
  font-family: $secondfont;
	&__inner {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__logo {
    display: inline-block;
    width: 23rem;
    margin-bottom: 4rem;
  }
  &__tel {
    display: block;
    font-weight: 500;
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }
  &__email {
    display: block;
    margin-bottom: 3rem;
  }
  &__socs {
    display: flex;
    flex-wrap: wrap;
  }
  &__soc {
    width: 3.2rem;
    height: 3.2rem;
    @include img-contain;
  }
  &__list {
    display: flex;
    margin-bottom: 7rem;
  }
  &__item {
    min-width: 26.6rem;
    margin-right: 5rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.29;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  &__link {
    display: block;
    font-weight: 500;
    line-height: 1.33;
    opacity: 0.8;
    margin-bottom: 2rem;
  }
  &__app-title {
    font-weight: 500;
    line-height: 123%;
    margin-bottom: 1.2rem;
  }
  &__apps {
    display: flex;
  }
  &__app-link {
    height: 4.2rem;
    margin-right: 1rem;
    img {
      height: 100%;
      width: auto;
    }
  }

  &__mob {
    display: none;
  }
  @media (max-width: 48em) {
    padding: 2.4rem 0;
    &__inner {
      display: block;
    }
    &__left {
      margin-bottom: 3.8rem;
    }
    &__logo {
      width: 13.3rem;
      margin-bottom: 0;
    }
    &__tel {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }
    &__list {
      display: block;
      margin-bottom: 5rem;
    }
    &__item {
      min-width: auto;
      width: 100%;
      margin-right: 0;
      margin-bottom: 3.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__title {
      font-size: 1.8rem;
      margin-bottom: 1.4rem;
    }
    &__links {
      display: flex;
      flex-wrap: wrap;
    }
    &__link {
      width: 50%;
      margin-bottom: 1.5rem;
    }
    &__app {
      margin-bottom: 4rem;
    }
    &__app-title {
      font-size: 1.4rem;
      margin-bottom: 0.7rem;
    }
    &__app-link {
      height: 3.7rem;
    }

    &__desk {
      display: none;
    }
    &__mob {
      display: block;
    }
  }
}
