.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #F8F8F8;
	&__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8.6rem;
  }
  &__logo {
    display: inline-block;
    width: 18.1rem;
  }
  &__nav-title {
    display: none;
  }
  &__nav-list {
    display: flex;
    align-items: center;
  }
  &__links {
    display: inline-block;
    font-weight: 600;
    color: #414141;
    text-transform: uppercase;
    margin-right: 8.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &__controlls {
    display: flex;
    align-items: center;
  }
  &__cart {
    width: 3rem;
    height: 2.6rem;
    margin-right: 6.6rem;
    @include img-contain;
  }
  &__login {
    font-weight: 700;
    color: #FA5507;
  }

  &__burger {
    display: none;
  }
  @media (max-width: 48em) {
    &__inner {
      min-height: 5.8rem;
    }
    &__logo {
      width: 13.3rem;
    }
    &__nav {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      z-index: 50;
      background-color: #F8F8F8;
      padding: 8rem 1.5rem 1rem;
      &.active {
        display: block;
      }
    }
    &__nav-list {
      display: block;
    }
    &__nav-title {
      display: block;
      font-family: $secondfont;
      font-size: 3.2rem;
      letter-spacing: 0.005em;
      color: #1F2209;
      margin-bottom: 4rem;
    }
    &__links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #414141;
      text-transform: uppercase;
      margin-right: 0;
      padding: 2.5rem 0;
      border-top: 1px solid #D8D8D8;
      &:last-child {
        border-bottom: 1px solid #D8D8D8;
      }
      &::after {
        content: '';
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/dist/nav-right.svg);
      }
    }
    &__controlls {
      display: flex;
      align-items: center;
    }
    &__cart {
      width: 3rem;
      height: 2.6rem;
      margin-right: 6.6rem;
      display: none;
    }
    &__login {
      font-weight: 700;
      color: #FA5507;
      display: none;
    }

    &__burger {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 3.4rem;
      height: 3.4rem;
      @include img-contain;
      .burger {
        display: block;
      }
      .close {
        display: none;
        width: 70%;
      }
      &.active {
        .burger {
          display: none;
        }
        .close {
          display: block;
        }
      }
    }
  }
}
