.main-slider {
  color: #fff;
  margin-bottom: 2.4rem;
	&__slide {
    position: relative;
    border-radius: 6.7rem;
    overflow: hidden;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    @include img-cover;
  }
  &__content {
    position: relative;
    min-height: 76rem;
    display: flex;
    justify-content: space-between;
    padding: 7.6rem 6.6rem;
    z-index: 2;
    .main-prods__content {
      display: none !important;
    }
  }
  &__left {
    width: 68rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  &__name {
    display: none;
  }
  &__title {
    font-family: $secondfont;
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 104%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  &__description {
    font-weight: 500;
    font-size: 2rem;
    line-height: 142.4%;
    margin-bottom: 4.2rem;
  }
  &__link {
    min-width: 33.2rem;
    display: inline-flex;
    font-family: $secondfont;
    font-size: 2.3rem;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    padding: 1.6rem 2.3rem;
    background-color: #fff;
    border-radius: 3.3rem;
    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: 3.4rem;
      height: 3.4rem;
    }
    &::after {
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/dist/arrow-right-black.svg);
    }
  }
  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.72rem;
  }
  &__controllers {
    position: absolute;
    left: 6.6rem;
    top: 7.6rem;
    width: 50rem;
    z-index: 3;
  }
  &__pag {
    display: flex;
    width: 100%;
    height: 0.4rem;
    gap: 1rem;
    margin-bottom: 1.5rem;
    .swiper-pagination-bullet {
      flex-grow: 1;
      background-color: #fff;
      border-radius: 2rem;
      overflow: hidden;
      position: relative;
      opacity: 1;
    }
    .line {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      height: 100%;
      width: 0%;
      background-color: #fff;
    }
    .swiper-pagination-bullet-active {
      background-color: rgba($color: #ffffff, $alpha: 0.3);
    }
    .swiper-pagination-bullet-active ~ .swiper-pagination-bullet{
      background-color: rgba($color: #ffffff, $alpha: 0.3);
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    font-family: $secondfont;
    letter-spacing: 0.03em;
  }
  &__prev,
  &__next {
    display: inline-flex;
    align-items: center;
  }
  &__prev::before,
  &__next::after {
    content: '';
    display: inline-block;
    width: 2.9rem;
    height: 2.9rem;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__prev::before {
    background-image: url(../images/dist/arrow-left-alt.svg);
  }
  &__next::after {
    background-image: url(../images/dist/arrow-right-alt.svg);
  }
  @media (max-width: 48em) {
    margin-bottom: 2rem;
    &__slide {
      border-radius: 2rem;
    }
    &__img {
      @include img-cover;
    }
    &__content {
      min-height: 57.1rem;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      padding: 3.6rem 1.5rem;
    }
    &__left {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
    &__title {
      font-size: 2.8rem;
      margin-bottom: 1.4rem;
    }
    &__description {
      font-size: 1.4rem;
      margin-bottom: 4rem;
    }
    &__link {
      min-width: auto;
      width: 100%;
      font-size: 1.8rem;
      padding: 1.28rem 2.1rem;
      &::before,
      &::after {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
    &__right {
      display: none;
    }
    &__controllers {
      left: 0;
      top: 1.5rem;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 1.5rem;
      z-index: 3;
    }
    &__pag {
      width: auto;
      height: auto;
      gap: 0.7rem;
      .swiper-pagination-bullet {
        flex-grow: 0;
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 100%;
        background-color: rgba($color: #ffffff, $alpha: 0.3) !important;
      }
      .line {
        display: none;
      }
      .swiper-pagination-bullet-active {
        background-color: rgba($color: #ffffff, $alpha: 1) !important;
      }
    }
    &__nav {
      display: none;
    }
  }
}
