.review-form {
  background-color: #fff;
  &__inner {
    width: 128.7rem;
    padding: 4rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    padding-right: 2rem;
  }
  &__title {
    font-weight: 700;
    font-size: 6rem;
    line-height: 157.9%;
    letter-spacing: 0.005em;
    color: #12121A;
    margin-bottom: 2.7rem;
  }
  &__text {
    font-size: 2.4rem;
    line-height: 138.4%;
    letter-spacing: 0.005em;
    color: #12121A;
    a {
      color: #E78512;
    }
  }
  &__right {
    width: 66.3rem;
  }
  @media (max-width: 48em) {
    background-color: #fff;
    &__inner {
      display: block;
      width: 100%;
      padding: 0;
    }
    &__left {
      margin-bottom: 4rem;
    }
    &__title {
      font-size: 3.2rem;
      margin-bottom: 0.7rem;
    }
    &__text {
      font-size: 1.8rem;
    }
    &__right {
      width: 100%;
    }
  }
}